<div>
  <p><%= comment.content %></p>
 
  <% if user_signed_in? && comment.user == current_user %>
     <div class= 'user delete'>
    <%= button_to 'Delete Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'delete-comment-form' } %>
  <% end %>
</div>
