<div>
  <p><%= comment.content %></p>
  <% if user_signed_in? && comment.user == current_user %>
    <%= link_to 'Delete Comment', delete_comment_path(comment), data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
