<h1>User Profile</h1>

<p><strong>Nickname:</strong> <%= @user_profile.nickname %></p>
<p><strong>Bio:</strong> <%= @user_profile.bio %></p>
<p><strong>Favorite Game:</strong> <%= @user_profile.favorite_game %></p>

<%= link_to 'Edit Profile', edit_user_profile_path %>